@import url('bootstrap.css');
@import url('jqueryui-bootstrap.css');
@import url('font-custom.css');
@import url('spectrum.css');

canvas {
    border: 1px solid black;
}
.container {
    width: 1018px;
}
.signinform {
    display:none;
}

/* control bar */
.control-panel {
    padding-top: 12px;
    padding-bottom: 6px;
}
.left-controls {
    width: 80px;
    text-align: right;
}
.load-controls {
    width: 312px;
    margin-left: 20px;
}
.zoom-controls {
    width: 88px;
}
.paint-controls{
    width: 280px;
}
.canvas-controls {
    margin-right: 24px;
}
.right-controls {
    width: 160px;
    margin-top: 6px;
}
.searchbox {
    width: 200px;
}

/* workspace bootstrap overrides */

/* left tabs colorpicker */
#color-tabbar .colorpicker {
    width: 42px;
    margin-bottom:2px;
}
#color-tabbar .icon-reorder {
    cursor: move;
    color: #bbb;
}

.active .icon-reorder {
    margin-left:2px;
    vertical-align: middle;
    position: relative;
}
.active .icon-reorder:before {
    content:'';
}
.active .icon-reorder .after,
.active .icon-reorder .before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}
.active .icon-reorder .after {
    border-left-color: black;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}
.active .icon-reorder .before {
    border-left-color: #333;
    border-width: 12px;
    top: 50%;
    margin-top: -12px;
}

/* layer tab on right */
#layer-tabbar a {
    line-height:0px;
}

#layer-tabbar .active a {
    cursor: move;
}

#layer-tabbar input {
    margin-bottom:0px;
    width:60px;
}

#layer-tabbar i {
    cursor: pointer;
    margin-right:5px;
}

#layer-tabbar .icon-eye-open {
    color: #333;
}

#layer-tabbar .active i:hover {
    color: #777;
}

#layer-tabbar .icon-eye-close {
    color: #bbb;
}

