@import url('bootstrap.css');
@import url('jqueryui-bootstrap.css');
@import url('font-custom.css');
@import url('spectrum.css');
@import url('keys.css');

canvas {
    border: 1px solid #ddd;
    image-rendering: -moz-crisp-edges;
    /* CHROME PLEASE FIX THIS SOON */
    image-rendering: -webkit-optimize-contrast;
}
.preview {
    background-color: #eee;
}
.container {
    width: 1012px;
}
.signinform {
    display:none;
}

/* control bar */
.control-panel {
    padding-top: 12px;
    padding-bottom: 2px;
}
.left-controls {
    width: 86px;
    text-align: right;
}
.load-controls {
    width: 276px;
    margin-left: 20px;
}
.zoom-controls {
    width: 88px;
}
.paint-controls{
    width: 319px;
}
.canvas-controls {
    margin-right: 20px;
}
.right-controls {
    width: 160px;
    margin-top: 6px;
}
.searchbox {
    width: 180px;
}

.tooltip .key {
    margin-left:6px;
    padding-top:2px;
    padding-bottom:3px;
}

/* left tabs colorpicker */
#color-tabbar .colorpicker {
    width: 42px;
    margin-bottom:2px;
}
#color-tabbar li {
    min-width:105px;
}
#color-tabbar .key {
    cursor: move;
    margin-left:8px;
    padding-top:3px;
    padding-bottom:2px;
}

/* layer tab on right */
#layer-tabbar a {
    line-height:0px;
}

#layer-tabbar .active a {
    cursor: move;
}

#layer-tabbar input {
    margin-bottom:0px;
    width:60px;
}

#layer-tabbar i {
    cursor: pointer;
    margin-right:5px;
}

#layer-tabbar .icon-eye-open {
    color: #333;
}

#layer-tabbar .active i:hover {
    color: #777;
}

#layer-tabbar .icon-eye-close {
    color: #bbb;
}

